{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_delete'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <article class="container text-center">
        <h3>Usuń komentarz</h3>
        <div class="flex-container">
            <blockquote>{{ comment.text }}</blockquote>
            <div>
                <p>{{ 'sure'|trans }}</p>
                {{ form_start(form, { method: 'DELETE', action: url('comment_delete', {'id':comment.id}) }) }}
                {{ form_widget(form) }}
                <div class="form-group row float-sm-right">
                    <input type="submit" value="ok" class="btn btn-primary" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </article>
{% endblock %}