{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|trans }}</h1>
    <a class="btn btn-primary" href="{{ url('user_new') }}" title="{{ 'action.new'|trans }}">{{ 'new'|trans }}</a>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.login'|trans, 'u.login') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>
                        <a href="{{ url('user_view', {id: user.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if app.user.id is defined and app.user.id == user.id or is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        {#{% if not user.tasks|length %}#}
                            {#<a href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'action.delete'|trans }}">#}
                                {#{{ 'action.delete'|trans }}#}
                            {#</a>#}
                        {#{% endif %}#}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <div class="container">
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        </div>
    {% endif %}

{% endblock %}