{% extends 'base.html.twig' %}

{% block title %}
    {{ user.login|default('') }}
{% endblock %}

{% block body %}
    <main>
        <header>
            <h1 class="text-center login">
                {{ user.login|default('login') }}{#login of user#}
            </h1>
        </header>
        <div>
            {% if user|length %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') and (user.id==app.user.id or is_granted('ROLE_ADMIN')) %}
                <div class="container flex-container flex-justify-start">
                    <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'user_edit'|trans  }}" class="btn btn-primary btn-xs" >
                        <i class="fa fa-edit"></i>
                        {#{{ 'edit'|trans }}#}
                    </a>
                    <a href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'user_delete'|trans  }}" class="btn btn-danger btn-xs" >
                        <i class="fa fa-trash"></i>
                        {#{{ 'delete'|trans }}#}
                    </a>
                </div>

            {% endif %}
            <article class="center-blok container">
                <div class="flex-container">
                    <div>
                        <p>
                            <span class="description"> {{ 'name'|trans }}:</span> {% if user.userdata.name|length %}{{ user.userdata.name }}{% endif %}
                        </p>
                        <p>
                            <span class="description">{{ 'surname'|trans }}:</span> {% if user.userdata.surname|length %}{{ user.userdata.surname }}{% endif %}
                        </p>
                        {% if is_granted('ROLE_ADMIN') %}<p>
                            <span class="description">{{ 'email'|trans }}:</span> {{ user.email }}</p> {% endif %}
                    </div>
                    <div>
                       <i class="fa fa-user glyph-image"></i>
                    </div>
                </div>
            </article>
        </div>
        <hr>
        <div>
            {% block gallery %}
                <div class="container">
                    <header>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and user.id==app.user.id %}
                        <div class="flex-container crud">
                            <a href="{{ url('photo_new') }}" class="btn btn-success btn-sm">
                                <i class="material-icons">&#xe2c3;</i>
                                {{ 'upload_photo'|trans }}
                            </a>
                        </div>
                        {% endif %}
                    </header>
                </div>
                <article>
                        {% include 'photo/gallery.html.twig' %}
                </article>
            {% endblock %}
        </div>
        {% else %}
            <p>
                {{ 'message.item_not_found'|trans }}
            </p>
        {% endif %}
    </main>
{% endblock %}
