{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.login'|trans }}</dt>
            <dd>{{  user.login }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
            {% if user.userdata.name|length %}
                <dt>{{ 'label.user.name'|trans }}</dt>
                <dd>{{ user.userdata.name }}</dd>
            {% endif %}
            {% if user.userdata.surname|length %}
                <dt>{{ 'label.user.surname'|trans }}</dt>
                <dd>{{ user.userdata.surname }}</dd>

                <article>
                    {% block gallery %}
                        {% include 'photo/gallery.html.twig' %}
                    {% endblock %}
                </article>
            {% endif %}
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}