{% block gallery %}
<h4 class="text-center">{{ 'title.photo_list'|trans }}</h4>
<div class="center-block col-md-12">
    {% if pagination is defined and pagination|length %}

        <div class="nav-gallery">
            {{ knp_pagination_render(pagination) }}

                <button class="btn btn-default">{{ knp_pagination_sortable(pagination, 'label.publication_date'|trans, 'p.publication_date') }}</button>
                {#<button class="btn btn-default">{{ knp_pagination_sortable(pagination, 'label.likes'|trans, 'p.likerates') }}</button>#}
        </div>
        <div class="flex-container">
            {% for photo in pagination %}
                <div class="photo">
                    <a href="{{ url('photo_view', {'id':photo.id}) }}" title="{{ 'photo'|trans }} {{ photo.id }}">
                        <figure class="text-on-figure-bottom">
                            <img alt="{{ photo.source }}" src="{{ asset('uploads/photos/'~ photo.source) }}" />
                            <figcaption class="text-on-figure-bottom half-black-background row remove-margin">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and (photo.user.id==app.user.id or is_granted('ROLE_ADMIN')) %}
                                    {#//jesli jestes zalogowany i.. to jesteś ty#}
                                    <div class="col-xs-6 remove-padding">
                                        <div class="buttons remove-padding">
                                            <a href="{{ url('photo_edit', {'id':photo.id}) }}" title="{{ 'edit'|trans }} {{ 'photo'|trans }} {{ photo.id }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-edit"></i>
                                                {{ 'edit'|trans }}
                                            </a>
                                        </div>
                                        <div class="buttons remove-padding">
                                            <a href="{{ url('photo_delete', {'id':photo.id}) }}" title="{{ 'delete'|trans }} {{ 'photo'|trans }} {{ photo.id }}" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash"></i>
                                                {{ 'delete'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {#{{ 'label.id'|trans }}#}
                                {#{{ photo.id }}#}
                                {#{{ 'label.description'|trans }}#}
                                {#{{  photo.description }}#}
                                {#{{ 'label.camera_specyfication'|trans }}#}
                                {#{{  photo.cameraSpecification}}#}
                                {#{{ 'label.author'|trans }}#}
                                {#{{  photo.user.login}}#}
                            </figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div>
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <div class="container">
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}