{% block gallery %}
<div class="center-block col-md-12">
    {% if pagination is defined and pagination|length %}
        <div class="flex-container">
            {% for photo in pagination %}
                <div class="photo">
                    <a href="{{ url('photo_view', {'id':photo.id}) }}" title="{{ 'photo'|trans }} {{ photo.id }}">
                        <figure class="text-on-figure">
                            <img alt="{{ photo.file.source }}" src="{{ asset('uploads/photos/'~ photo.file.source) }}" />
                            <figcaption>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and (photo.user.id==app.user.id or is_granted('ROLE_ADMIN')) %}
                                    {#//jesli jestes zalogowany i.. to jesteś ty#}
                                    <div class="">
                                            <a href="{{ url('photo_edit', {'id':photo.id}) }}" title="{{ 'edit'|trans }} {{ 'photo'|trans }} {{ photo.id }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="{{ url('photo_delete', {'id':photo.id}) }}" title="{{ 'delete'|trans }} {{ 'photo'|trans }} {{ photo.id }}" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                    </div>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div>
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <div class="container">
            <p class="text-center">
                {{ 'message.empty_list'|trans }}
                <i class="fa fa-camera glyph-image"></i>
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}