{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_view'|trans({'%id%': photo.id|default('')}) }}
{% endblock %}
{% block body %}

{% block content %}
    {% if photo is defined and photo|length %}
        <article class="center-blok container">
                 <img src="{{ asset('img/' ~ photo.source) }}" alt="{{ photo.source }}">
                <div class="flex-container">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id==photo.user.id or is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('photo_edit', {'id':photo.id}) }}" class="btn btn-primary btn-xs">
                            <i class="fa fa-edit"></i>
                            {{ 'edit'|trans }}
                        </a>
                        <a href="{{ url('photo_delete', {'id':photo.id}) }}" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash"></i>
                            {{ 'delete'|trans }}
                        </a>
                        {% endif %}
                </div>
            <div>

                <p>
                    {{ photo.description|default('title') }}
                </p>
                <a href="{{ url('user_view', {'id':photo.user.id}) }}" title="{{ 'label.go_to_gallery'|trans }}" class="btn btn-default">
                    {{ 'label.author'|trans }} {{ photo.user.login }}
                </a>
                 <p>{{ 'label.camera_specyfication'|trans }}
                     {{ photo.cameraSpecification }}</p>
                <div id="like">
                    {{ 'label.like'|trans }}
                    {% if likes is defined and likes > 0 %}
                        {{ likes }}
                    {% endif %}
                    {% include 'default/_form.html.twig' with {
                        form: form_like,
                        page_title: '',
                        page_title_param: {'%id%': photo.id},
                        attr: {
                            method: 'PUT',
                            action: url('photo_view', {'id': photo.id}),
                        },
                    } %}
                </div>
                    <p>{{ 'publicationDate'|trans }}: {{ photo.publicationDate|localizeddate }}</p>
                    <p>{{ 'tags'|trans }}:
                        {% for tag in photo.tags %}
                            <a href="">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        {#Jesli zalogowany to moze komentowac#}
                                    <div>
                                    {{ form_start(form_comment, { method: 'post', action: url('photo_view', {'id':photo.id}) }) }}
                                    {{ form_widget(form_comment) }}
                                       <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
                                    {{ form_end(form_comment) }}
                                    </div>
                        {% endif %}
                        {# WYŚWIETLANIE WSZYSTKICH KOMENTARZY #}
                        {% if photo.comments|length %}
                        <ul>
                            {% for comment in photo.comments %}
                                <li>
                                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 comment">
                                        <div>
                                            <p>{{ comment.user.login}}</p>
                                            By: <a href="{{  url('user_view', {'id':comment.user.id}) }}" class="">{{ comment.user.login }}</a>
                                            <p>{{ comment.publicationDate|localizeddate}}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{ comment.text }}</p>
                                        </div>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id==comment.user.id %}
                                            <a href="{{ url('comment_edit', {'id':comment.id}) }}" class="btn btn-primary btn-xs last-row-item">
                                                <i class="fa fa-edit"></i>
                                                {{ 'edit'|trans }}
                                            </a>
                                            <a href="{{ url('comment_delete', {'id':comment.id}) }}" class="btn btn-danger btn-xs last-row-item">
                                                <i class="fa fa-trash"></i>
                                                {{ 'delete'|trans }}
                                            </a>
                                        {% endif %}
                                     </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
        </article>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
{% endblock %}