{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_view'|trans({'%id%': photo.id|default('')}) }}
{% endblock %}
{% block body %}

{% block content %}
    {% if photo is defined and photo|length %}
       <figure class="text-center">
                 <img id="view" src="{{ asset('uploads/photos/' ~ photo.file.source) }}" alt="{{ photo.file.source }}">
       </figure>
        <div class="flex-container crud container">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id==photo.user.id or is_granted('ROLE_ADMIN') %}
                <a href="{{ url('photo_edit', {'id':photo.id}) }}" class="btn btn-primary btn-xs">
                    <i class="fa fa-edit"></i>
                    {{ 'edit'|trans }}
                </a>
                <a href="{{ url('photo_delete', {'id':photo.id}) }}" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash"></i>
                    {{ 'delete'|trans }}
                </a>
            {% endif %}
        </div>
       <article class="center-blok container">
           <div id="like">
               {#{{ 'label.like'|trans }}#}

               {% if userHaveLiked == false %}
                   <div>
                       {{ form_start(form_like, { method: 'post', action: url('photo_view', {'id':photo.id}) }) }}
                       {{ form_widget(form_like) }}
                       {#<input type="submit" value="&lt;i class='material-icons enabled'&gt;thumb_up&lt;i/&gt;" class="btn btn-success" />#}
                       <button type="submit" class="like">
                           <i class="material-icons enabled">thumb_up</i>
                       </button>
                       {{ form_end(form_like) }}
                   </div>
               {% else %}
                   <i class="material-icons disabled">thumb_up</i>
               {% endif %}
               {% if likes is defined and likes >= 0 %}
                   <span>{{ likes }}</span>
               {% endif %}
           </div>
            <div>
                <p id="photo-description">
                    {#{{ 'label.description'|trans }}#}
                    {{ photo.description }}
                </p>
                <a href="{{ url('user_view', {'id':photo.user.id}) }}" title="{{ 'label.go_to_gallery'|trans }}" class="btn btn-default">
                    <i class="fa fa-user"></i>
                    {#{{ 'label.author'|trans }}#}
                    {{ photo.user.login }}
                </a>
                <hr>
                <p><i class="fa fa-camera"></i>
                    {#{{ 'label.camera_specyfication'|trans }}#}
                     {{ photo.cameraSpecification }}
                 </p>
                <p>{{ 'publicationDate'|trans }}: {{ photo.publicationDate|localizeddate }}</p>
                {% if photo.tags|length %}
                    <p>{{ 'tags'|trans }}:
                        {% for tag in photo.tags %}
                            <button class="btn btn-default">
                                <a href="{{ url('photo_tag', {'id':tag.id}) }}">{{ tag.name }}</a>
                            </button>
                        {% endfor %}
                    </p>
                {% endif %}
                </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        {#Jesli zalogowany to moze komentowac#}
                                    <div>
                                    {{ form_start(form_comment, { method: 'post', action: url('photo_view', {'id':photo.id}) }) }}
                                    {{ form_widget(form_comment) }}
                                       <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
                                    {{ form_end(form_comment) }}
                                    </div>
                        {% endif %}
                        {# WYŚWIETLANIE WSZYSTKICH KOMENTARZY #}
                        {% if photo.comments|length %}
                        <ul>
                            {% for comment in photo.comments %}
                                <li>
                                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 comment">
                                        <div class="flex-container">
                                            <p>By: <a href="{{  url('user_view', {'id':comment.user.id}) }}" class="">{{ comment.user.login }}</a></p>
                                            <p>{{ comment.publicationDate|localizeddate}}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{ comment.text }}</p>
                                        </div>
                                     </div>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id==comment.user.id %}
                                        <div class="">
                                            <a href="{{ url('comment_edit', {'id':comment.id}) }}" class="btn btn-primary">
                                                <i class="fa fa-edit"></i>
                                                {{ 'edit'|trans }}
                                            </a>
                                            <a href="{{ url('comment_delete', {'id':comment.id}) }}" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                                {{ 'delete'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
        </article>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
{% endblock %}