{% extends 'base.html.twig' %}

{% block title %}
    PhotoShare - {{ 'search'|trans }}
{% endblock %}

{% block body %}
    {% block content %}
        <main>
            <div class="container text-center">
                <h3>{{ 'action.search'|trans }}</h3>
                <form name="search" method="post", action="{{ url('search_index')}}" >
                    <input type="search" id="search" name="search" required="required">
                    <input type="submit" value="ok" class="btn btn-success">
                </form>
            </div>

                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
            <article class="container">
                    <header>
                        <h2 class="text-center">
                            {{ 'tags'|trans }}
                        </h2>
                    </header>
                <section class="flex-container flex-justify-start">
                {% for tag in tags %}
                    <a class="btn btn-default" href="{{ url('photo_tag', {'id':tag.id}) }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                </section>
            </article>
        </main>
    {% endblock %}
{% endblock %}