{% extends 'base.html.twig' %}

{% block title %}
    PhotoShare - Homepage
{% endblock %}

{% block body %}
    {% block content %}
        <main>

            <form name="search" method="post", action="{{ url('search_index')}}" >
                <input type="search" id="search" name="search" required="required">
                <input type="submit" value="ok" class="btn btn-success">
            </form>
            {#<article class="center-blok container">#}
                {#<header>#}
                    {#<h1 class="text-center"><span class="logo"> {{ 'search'|trans }}</span>#}
                    {#</h1>#}
                {#</header>#}
                {#<hr>#}


                {#{{ form_start(form, { method: 'post', action: url('search_index') }) }}#}
                {#{{ form_widget(form) }}#}
                {#<input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />#}
                {#{{ form_end(form) }}#}



                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
            <article>
                    <header>
                        <h2 class="text-center">
                            {{ 'popular_tags'|trans }}
                        </h2>
                    </header>
                {% for tag in tags %}
                <button class="btn btn-default">
                    <a href="{{ url('photo_tag', {'id':tag.id}) }}">
                        {{ tag.name }}
                    </a>
                </button>
                {% endfor %}
            </article>
        </main>
    {% endblock %}
{% endblock %}