{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
    <div>{{ app.user.login }}</div>
    <div>
        <a href="{{ url('security_logout') }}">{{ 'action.logout'|trans }}</a>
    </div>
{% else %}
    <div>
        <a href="{{ url('security_login') }}">{{ 'action.login'|trans }}</a>
    </div>
{% endif %}