<nav class="flex-container">
            <a href="{{ url('home_index') }}" title="PhotoShow">
                <h1 class="logo">PhotoShare</h1>
            </a>
    <form name="search" method="post", action="{{ url('search_index')}}" >
        <input type="search" id="search" name="search">
        <button type="submit">
            {{ 'search.label'|trans }}
            <i class="fa fa-search"></i>
        </button>
    </form>

                    <form action='' method='POST'>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('security_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                                <i class="glyphicon glyphicon-log-out"></i>
                            </a>
                        {% else %}
                            <a href="{{ url('security_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                                <i class="glyphicon glyphicon-log-in"></i>
                            </a>
                            <a class="btn btn-default" id="registry" href="{{ url('user_new') }}" title="{{ 'action.registry'|trans }}">
                                {{ 'action.registry'|trans }}
                                <i class="fa fa-user"></i>
                            </a>
                        {% endif %}
                    </form>
                {% if app.user.login is defined and app.user.login|length %}
                    <span id="logged_as">
                                    {{ 'logged_as' | trans }}
                                </span>
                    <div id="logged_as">
                        <a href="{{ url('user_view', {'id':app.user.id}) }}" title="{{ app.user.login }}">
                            {{ app.user.login }}
                            <i class="fa fa-user"></i>
                        </a>
                    </div>
                {% endif %}
</nav>